body{
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #292929;
}

a:hover {
    color: #9b9a9a;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

header div {
    flex: 1;
    margin-right: 10px;
}

header div:last-child {
    margin-right: 0;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e8e8e8;
}

.accordion{
    margin: 5px;
}

.accordion-toggle {
    display: none;
}

.accordion-title {
    cursor: pointer;
    display: block;
    user-select: none;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accordion-title:hover {
    background-color: #e8e8e8;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    user-select: none;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.accordion-toggle:checked + .accordion-title + .accordion-content {
    max-height: 200px;
    padding: 10px;
}

.result{
    margin: 10px;
}

#contract-details-bar{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contract-details-bar:hover {
    background-color: #e8e8e8;
}

#tools{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inputs{
    width: 50%;
}

#output{
    width: 50%;
}

#output-console{
    width: 100%;
    height: 500px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 5px;
    overflow: auto;
}

@media (max-width: 800px) {
    body {
        font-size: 14px;
    }

    header {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header div {
        margin-right: 0;
        margin-bottom: 10px;
        width: 95%;
    }

    #contract-details-bar {
        flex-direction: column;
        overflow-x: auto;
    }

    #contract-details-bar span{
        margin: 5px;
    }

    #tools {
        flex-direction: column;
    }

    #inputs, #output {
        width: 100%;
    }

    #output-console {
        height: 300px;
    }
}